// Variables
$color-primary: #234976;
$color-primary-transparent: rgb(30, 57, 83, 80%);
$color-secondary: #F0F3F4;
$color-white: white;
$color-black: #111111;

$xs-breakpoint: 0; // Extra small devices (portrait phones)
$sm-breakpoint: 576px; // Small devices (landscape phones, tablets)
$md-breakpoint: 768px; // Medium devices (tablets, laptops)
$lg-breakpoint: 992px; // Large devices (desktops)
$xl-breakpoint: 1200px; // Extra large devices (large desktops)