@use "variables" as v;
@use "mixins" as m;
@use "reset";

.new-pwd {
  h1 {
    color: v.$color-primary;
    text-align: center;
    margin-top: 4rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    input {
      width: 40rem;
      height: 5rem;
      background: transparent;
      font-weight: bold;
      font-size: 1.5rem;
      border: none;
      border-bottom: v.$color-primary solid 0.1rem;

      @media (max-width: v.$sm-breakpoint) {
        width: 30rem;
      }

      &:focus {
        outline: none;
      }
    }

    .submit-new-pwd {
        width: 30rem;
        border: v.$color-primary solid 0.1rem;
        border-radius: 0.5rem;
    
        @media (max-width: v.$md-breakpoint) {
          width: 20rem;
        }
    
        &:hover {
          background-color: v.$color-primary;
          color: v.$color-white;
        }
      }
  }
}

.modalError {
  .list-item {
    font-size: 1.6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: v.$color-white;

    .iconArrowError {
      margin-top: 0.8rem;
      font-size: 2rem;
      margin-right: 0.5rem;
    }
  }
}
