@use "variables" as v;
@use "mixins" as m;
@use "reset";
@use "Header";

.passForget {
  .title__app {
    text-align: center;
    margin-bottom: 4rem;
    color: white;
  }

  .form_pwd_forget {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    label {
      color: v.$color-white;
    }

    input {
      width: 40rem;
      height: 5rem;
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;
      border-radius: 0.5rem;

      @media (max-width: v.$sm-breakpoint) {
        width: 30rem;
      }

      &:focus {
        outline: none;
      }
    }

    .submit_pwd_forget {
      width: 30rem;
      border: v.$color-white solid 0.1rem;
      border-radius: 0.5rem;

      @media (max-width: v.$sm-breakpoint) {
        width: 20rem;
      }

      &:hover {
        background-color: v.$color-primary;
        color: v.$color-white;
      }
    }
  }

  .modalError {
    .list-item {
      font-size: 1.6rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: v.$color-white;

      .iconArrowError {
        margin-top: 0.8rem;
        font-size: 2rem;
      }
    }
  }
}
